@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

title {
  color: bisque;
}
img {
  width: 700px;
  border-radius: 10px;
  box-shadow: 2px 4px 3px rgba(121, 4, 255, 0.658);
  margin-bottom: 40px;
  margin: 20px 0px 40px 10px;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
}
li {
  color: white;
  font-size: 38px;
  font-family: "Cookie";
  text-align: left;
}
h1 {
  color: blueviolet;
  font-size: 100px;
  font-family: "Hurricane";
  text-align: center;
}
h2 {
  color: white;
  font-family: "Kdam Thmor Pro";
  font-size: 100px;
  text-align: center;
  border-spacing: 0;
}
p {
  color: rgb(155, 0, 0);
  font-size: 40px;
  font-family: "Lobster";

}
h3 {
  color: white;
  font-size: 20px;
}
a{
    font-size: 50px;
    text-decoration: none;
    border: 2px solid;
    border-color: blueviolet;
    width: 30vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 9px;
    text-align: center;
}
a:hover{
    background-color: blueviolet;
    color: black;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.song h3{
    margin-left: 30px;
    margin-right: 30px;
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    position: relative;
}
.elemento{
    position: absolute;
    
}
.ultimo{
    text-align: center;
}
  


@media only screen and (max-width: 804px){
    h1,#title {
        color: blueviolet;
        font-size: 70px;
        font-family: "Hurricane";
    }

}